.payment{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 50px 200px 50px 10px;
    font-family: Futura;
}

.payment h3{
    font-family: Futura;
    font-size: 32px;
    font-weight: 400;
    color: var(--textColor);
}
.payment .payment_details{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.payment .payment_details .payment_details_item{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.payment .payment_details .payment_details_item h5{
    font-family: Futura;
    font-size: 20px;
    font-weight: 400;
}
.payment .payment_details .method_radios{
    display: flex;
    align-items: center;
    gap: 20px;
}
.payment .payment_details .method_radios .method_radio_item{
    display: flex;
    align-items: center;
    gap: 7px;
}
.payment .payment_details .payment_cart_namber .cart_namber{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
}
.payment .payment_details .payment_cart_namber .cart_namber input{
    width: 89px;
    height: 33px;
    outline: none;
    padding: 3px ;
    text-align: center;
    border: 1px solid var(--arrowGray);
}
.payment .payment_details input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 10px; 
    height: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%; 
    padding: 1px;
    outline:2px solid; 
  }
.payment .payment_details input[type="radio" i]{
    color: black;

}
.payment .payment_details input[type="radio"]:checked {
    background-color: black;
  }

.payment .payment_details .payment_name_item{
    width: 100%;
}
.payment .payment_details .payment_name_item input{
    width: 100%;
    height: 33px;
    padding: 3px 15px;
    outline: none;
    border: 1px solid var(--arrowGray);
}

.payment .payment_details .payment_date_cvv{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.payment .payment_details .payment_date_cvv .item_date{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.payment .payment_details .payment_date_cvv .item_date .item_date_inp{
    display: flex;
    width: 100%;
    gap: 15px;
    justify-content: space-between;
}
.payment .payment_details .payment_date_cvv .item_date input{
    width: 89px;
    height: 33px;
    outline: none;
    text-align: center;
    border: 1px solid var(--arrowGray);
}
.payment .payment_details .payment_date_cvv .item_cvv{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.payment .payment_details .payment_date_cvv .item_cvv input{
    width: 89px;
    height: 33px;
    outline: none;
    text-align: center;
    border: 1px solid var(--arrowGray);
}
.payment .payment_details .payment_save{
    display: flex;
    align-items: center;
    gap: 10px;
}
.payment button{
    width: 138px;
    height: 40px;
    background-color: var(--textColor);
    border: 1px solid var(--textColor);
    color: white;
    outline: none;
    cursor: pointer;
}
.payment button:hover{
    background-color: white;
    color: var(--textColor);
}
@media (max-width:935px) {
    .payment .payment_details .payment_details_item h5{
        font-family: Futura;
        font-size: 15px;
    }
    .payment .payment_details .method_radios{
        font-size: 12px;
    }
}
@media (max-width:820px) {
    .payment{
        width: 90%;
        padding: 50px;
    }
    .payment .payment_details .payment_cart_namber .cart_namber{
        justify-content: flex-start;
        gap: 15px;
    }
    .payment .payment_details .payment_cart_namber .cart_namber input{
        width: 55px;
        height: auto;
        padding: 5px;
    }
    .payment .payment_details .payment_name_item{
        width: auto;
    }
    .payment .payment_details .payment_name_item input{
        width: 67%;
        height: 33px;
        padding: 3px 15px;
        outline: none;
        border: 1px solid var(--arrowGray);
    }
    .payment .payment_details .payment_date_cvv .item_date input{
        width: 69px;
        height: 27px;
    }
    .payment .payment_details .payment_date_cvv .item_cvv input{
        width: 69px;
        height: 27px;
    }
    .payment button{
        width: auto;
        height: auto;
        padding: 7px 25px;
    }
    .payment .payment_details .payment_date_cvv{
        display: flex;
        flex-direction: row;
        width: auto;
        justify-content: flex-start;
    }
    .payment .payment_details .payment_date_cvv .item_date{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .payment .payment_details .payment_date_cvv .item_date .item_date_inp{
        display: flex;
        width: 100%;
        gap: 3px;
        justify-content: flex-start;
    }
    .payment .payment_details .payment_date_cvv .item_cvv{
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
}
@media (max-width:610px) {
    .payment{
        width: 100%;
        gap: 20px;
        align-items: center;
    }
    .payment .payment_details{
        gap: 15px;
        align-items: center;
    }
    .payment .payment_details .payment_details_item{
        align-items: center;
    }
    .payment .payment_details .payment_cart_namber .cart_namber{
        justify-content: center;

    }
    .payment .payment_details .payment_cart_namber .cart_namber input{
        width: 20%;
        height: 30px;
    }
    .payment .payment_details .payment_name_item{
        width: 70%;
    }
    .payment .payment_details .payment_name_item input{
        width: 100%;
    }
    .payment .payment_details .payment_date_cvv{
        justify-content: center;
        gap: 15px;
    }
    .payment .payment_details .payment_date_cvv .item_date{
        width: 70%;
        align-items: center;
    }
    .payment .payment_details .payment_date_cvv .item_date .item_date_inp{
        justify-content: center;
    }
    .payment .payment_details .payment_date_cvv .item_cvv{
        width: 30%;

    }
}
@media (max-width:460px) {
    .payment{
        padding: 50px 0px;
    }
    .payment .payment_details .payment_name_item{
        width: 80%;
    }
    .payment .payment_details .payment_date_cvv{
        justify-content: space-between;
        gap: 15px;
        width: 80%;
    }
    .payment .payment_details .payment_date_cvv .item_date{
        width: 70%;
        align-items: flex-start;
    }
    .payment .payment_details .payment_date_cvv .item_date .item_date_inp{
        justify-content: flex-start;
    }
    .payment .payment_details .payment_date_cvv .item_cvv{
        align-items: flex-end;
    }

}
@media (max-width:310px) {
    .payment .payment_details .payment_date_cvv{
        flex-direction: column;
        align-items: center;
    }
    .payment .payment_details .payment_date_cvv .item_date{
        width: 70%;
        align-items: center;
        gap: 7px;
    }
    .payment .payment_details .payment_date_cvv .item_date .item_date_inp{
        justify-content: flex-start;
    }
    .payment .payment_details .payment_date_cvv .item_cvv{
        align-items: center;
        gap: 7px;
    }
}