* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
}
@font-face {
  font-family: "Gabriola";
  src: url("./Fonts/Gabriola.ttf");
}

@font-face {
  font-family: "Futura";
  src: url("./Fonts/FuturaBookBT.ttf");
}

:root {
  --textColor: #a40d30;
  --mainGray: #8b8a88;
  --arrowGray: #cccccc;
  --secondary: #da3d4e;
}

body {
  background-color: #f4f3f1;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
