* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 100%;
}
@font-face {
  font-family: 'Gabriola';
  src: url('./Fonts/Gabriola.ttf');
}

@font-face {
  font-family: 'Futura';
  src: url('./Fonts/FuturaBookBT.ttf');
}

:root {
  --textColor: #A40D30;
  --mainGray: #8B8A88;
  --arrowGray: #CCCCCC;
  --secondary: #DA3D4E;
}

body {
  background-color: #F4F3F1;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

